
<div class="caixaandshadow">
			<div class="principal">
				<div class="container-login">
				<%= form_with(model: post, local: true) do |form| %>
          <% if post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        
              <ul>
              <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
          <div class="field">
            <%= form.label :paciente %>
            <%= form.text_field :paciente %>
          </div>
        
          <div class="field">
            <%= form.label :hospital %>
            <%= form.text_field :hospital %>
          </div>
        
          <div class="field">
            <%= form.label :tipo_sangue %>
            <%= form.text_field :tipo_sangue %>
          </div>
        
          <div class="actions">
            <%= form.submit %>
          </div>
          <%= link_to 'Back', posts_path %>
        <% end %>
        				</div>
        				<div class="container-img-login">
        					<%= link_to image_tag("logo/doe-sangue.jpg"), root_path %>
        				</div>
        			</div>
        			
		</div>