<p id="notice"><%= notice %></p>

<h1>Publicações</h1>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
<%= link_to 'Nova publicação', new_post_path %>
<table id="customers">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Hospital</th>
      <th>Tipo sangue</th>
      <th>User</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
 
  <tbody>
    <% @posts.each do |post| %>
      <tr>
      
        <td><%= post.paciente %></td>
        <td><%= post.hospital %></td>
        <td><%= post.tipo_sangue %></td>
        <td><%= post.user.username %></td>
        <td><%= link_to 'Ver', post %></td>
   
        <% if post.user == current_user %>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

